@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

body {
  font-family: "Heebo", sans-serif;
}

h5 {
  font-weight: 500;
}

body ::selection {
  background: #55372F;
  color: #fff;
}