@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

body {
  font-family: "Heebo", sans-serif;
}

h5 {
  font-weight: 500;
}

body ::selection {
  background: #55372F;
  color: #fff;
}

.p-sidebar {
  background: #55372f;
  color: #fff;
}

.p-sidebar-close svg {
  width: 30px;
  height: 30px;
  color: #fff;
}

.p-button-icon-only {
  background-color: #55372F;
  border-color: #55372F;
}

.promoCard:hover .promoBtn {
  transform: translatey(-40px);
  opacity: 1;
}

.promoCard:hover .promoText {
  transform: translateY(-75px);
}

.promoBtn {
  transform: translatey(30px);
  opacity: 0;
}

.iconBtn:hover .myIcon {
  transform: translateX(5px);
}

.divider::after,
.divider::before {
  background-color: #55372F;
  height: 1px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .testiSwiper .swiper-slide-active {
    border: 1px solid #55372f71;
    background-color: #F0EDEC;
  }

  .testiSwiper .swiper-slide-active .testiImg {
    border: 1px solid #55372f8c;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .testiSwiper .swiper-slide-next {
    border: 1px solid #fff;
    background-color: #fff;
  }

  .testiSwiper .swiper-slide-next .testiImg {
    border: 1px solid #fff;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1024px) {
  .testiSwiper .swiper-slide-next {
    border: 1px solid #55372f71;
    background-color: #F0EDEC;
  }

  .testiSwiper .swiper-slide-next .testiImg {
    border: 1px solid #55372f8c;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .testiSwiper .swiper-slide-next {
    border: 1px solid #55372f71;
    background-color: #F0EDEC;
  }

  .testiSwiper .swiper-slide-next .testiImg {
    border: 1px solid #55372f8c;
  }
}