@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

body {
  font-family: "Heebo", sans-serif;
}

h5 {
  font-weight: 500;
}

body ::selection {
  background: #55372F;
  color: #fff;
}

.p-sidebar {
  background: #55372f;
  color: #fff;
}

.p-sidebar-close svg {
  width: 30px;
  height: 30px;
  color: #fff;
}

.p-button-icon-only {
  background-color: #55372F;
  border-color: #55372F;
}

.promoCard:hover .promoBtn {
  transform: translatey(-40px);
  opacity: 1;
}
.promoCard:hover .promoText {
  transform: translateY(-75px);
}

.promoBtn {
  transform: translatey(30px);
  opacity: 0;
}